    
body{
    font-family: sans-serif;
    background-image: url("img/back3.jpg");
    font-size: xx-large;
}
h1{
    color: rgb(206, 76, 44);
    font-size: xx-large;
}
h3{ 
    color: rgb(42, 136, 165);
    font-size: xx-large;
}
pr{
    color: rgb(31, 18, 5);
}
img  {
    width: 400px;
    height: 400PX;
}
H2{ 
    color: rgb(77, 57, 32);
}
pr{ 
    font-size: xx-large;
}
 p{
   border-style: solid;
    border-color: black;
    margin:100px;

}
   
